:root {
  --primary-color: #dd6265;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  background: linear-gradient(to right, #6a4ac1, #dd8a82);
}

.open-modal-btn {
  border: none;
  outline: none;
  padding: 20px 40px;
  border-radius: 6px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
}

.modal_inner {
  width: 400px;
  position: relative;
  top: 50%;
  margin: auto;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  animation: move 0.2s linear;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: var(--primary-color);
  color: white;
}

.modal_body {
  padding: 15px;
}

.modal_body h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.modal_footer {
  padding: 15px;
  text-align: right;
}

.modal_footer button {
  padding: 10px 20px;
  color: white;
  background: var(--primary-color);
  border-radius: 5px;
  border: none;
  outline: 5px;
  cursor: pointer;
}

i {
  cursor: pointer;
}

.hide {
  display: none;
}

@keyframes move {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}
