* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  height: 80vh;
}

#table {
  height: 500px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

td,
th {
  border: 1px solid black;
}
