* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#table {
  width: 800px;
  margin-bottom: 50px;
}

.controller > h4 {
  text-align: center;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid black;
  text-align: center;
}

th {
  padding: 2px 20px;
}
