.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 20px;
  height: 50px;
  transition: all 0.5s ease-in;
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  position: fixed;
  left: 20px;
  width: 80px;

  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  height: 100%;
  object-fit: contain;
}
