@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: lightblue;
  font-family: "PT Sans", sans-serif;
}

.heading {
  text-align: center;
  margin: 50px auto;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
}

.green:hover {
  color: green;
}

.red:hover {
  color: red;
}

.grey:hover {
  color: grey;
}
